@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--text-color-1: #ffffff;
	--text-color-2: #072a2d;
	--text-color-3: #87629a;
	--background-header: #23424a;
	--background-section: #136c72;
	--background-button: #38cfd9;
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	font-size: 20.8px;
}
h1 {
	font-size: 3rem;
}
p {
	font-weight: 300;
}

.hero {
	background-color: var(--background-header);
	margin: 0;
	padding: 3em;
}

.hero-2 {
	margin: 0;
	padding: 2em;
}

.hero-3 {
	background-color: var(--background-section);
	margin: 0;
	padding: 2em;
}

.container {
	color: var(--text-color-1);
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 2em;
}
.hero__text {
	width: 60%;
}
.text {
	font-size: 1.15rem;
	padding-bottom: 2em;
}

.btn {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: #23424a;
	font-weight: 900;
	background-color: #38cfd9;
	padding: 0.75em 2em;
	border-radius: 100px;
}

.btn:hover,
.btn:focus {
	opacity: 0.75;
}

.row {
	display: flex;
	gap: 15px;
}

.accent-title {
	color: var(--text-color-3);
}

.accent-text {
	color: var(--text-color-2);
}

.col {
	text-align: center;
	font-size: 1.15rem;
}

.col h2 {
	font-size: 2rem;
}
