@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;0,900;1,500&family=Oswald:wght@200;300;400;500;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Montserrat', 'Oswald', serif, sans-serif;
	font-size: 1.3rem;
}

img {
	max-width: 100%;
}

section {
	border: 1px solid black;
}

.row {
	display: flex;
	flex-direction: column;
}

.btn {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: #23424a;
	font-weight: 900;
	background-color: #38cfd9;
	padding: 0.75em 2em;
	border-radius: 100px;
}

.btn:hover,
.btn:focus {
	opacity: 0.75;
}

.container {
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
	/* added for nav-toggle positioning */
	position: relative;
}

header {
	background: #2e323f;
	padding: 1em 0;
	text-align: center;
}

.nav {
	width: 100%;
}

.nav-toggle {
	cursor: pointer;
	border: 0;
	width: 3em;
	height: 3em;
	padding: 0em;
	border-radius: 50%;
	background: #a59678;
	color: white;
	transition: opacity 250ms ease;

	position: absolute;
	left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
	opacity: 0.75;
}

.hamburger {
	width: 50%;
	position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	display: block;
	margin: 0 auto;
	height: 3px;
	background: white;
}

.hamburger::before,
.hamburger::after {
	content: '';
	width: 100%;
}

.hamburger::before {
	transform: translateY(-6px);
}

.hamburger::after {
	transform: translateY(3px);
}

/* made changes here from video
   to make it more accessible.
   
   Works the same :) */
.nav {
	visibility: hidden;
	height: 0;
	position: absolute;
}

.nav--visible {
	visibility: visible;
	height: auto;
	position: relative;
}

.logo {
	height: 30px;
}

.nav__list {
	align-items: center;
	padding-left: 0;
	font-size: 1rem;
}

.nav__list--primary {
	margin-bottom: 2em;
}

.nav__item {
	/* border: 1px solid white; */
	list-style: none;
	padding-bottom: 1rem;
}
.nav__link {
	text-decoration: none;
	color: white;
}

.nav__link:hover,
.nav__link:focus {
	opacity: 0.65;
}

.nav__link--button {
	background-color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	color: #a59678;
	padding: 0.25em 0.75em;
	border-radius: 100px;
}

.hero {
	background-color: #3b4050;
	padding: 3em;
}

.hero__title {
	font-size: 60px;
	font-family: 'Oswald';
	color: #fff;
	line-height: 1em;
	padding: 0;
    margin-bottom: 0.5em;
}

.hero__text {
	font-family: 'Montserrat', serif;
	font-size: 1.2rem;
	color: #B3B5BC;;
	font-weight: 300;
	margin-bottom: 0.5em;
	padding-bottom: 1em;
}

.hero__btn {
	background-color: #a59678;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	color: #fff;
	padding: 0.25em 1.5em;
	border-radius: 100px;
	font-weight: 700;
	font-size: 1.2rem;
	font-family: 'Oswald', serif;
}

.accent {
	background-color: #f1f1f1;
	padding: 1em;
}

.accent__title {
	color: #a59678;
	font-size: 34px;
	font-weight: 900;
	font-family: 'Oswald', serif;
	margin: 0;
}
.accent__title + .accent__title {
	padding-top: 0.5em;
}

.accent__text {
	font-size: 18px;
	font-weight: 200;
}

.article {
	padding: 1em;
}

.primary__title {
	font-size: 30px;
	color: #a59678;
	font-size: 36px;
	font-weight: 900;
	font-family: 'Oswald', serif;
	margin: 0;
}

.primary__text {
	font-size: 18px;
	font-weight: 200;
}

.col__secondary {
	background-color: #3b4050;
	color: #fff;
	text-align: center;
	padding: 1em;
	margin-bottom: 1em;
}

.secondary__title {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 24px;
}

.secondary__text {
	font-size: 16px;
	font-weight: 200;
}

.footer {
	background-color: #3b4050;
	padding: 1em;
}

.footer__title {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 36px;
	color: #fff;
	padding: 0.5em 0;
}

.footer__container--col + .footer__container--col {
    padding: 0.5em 0;
}

.col__title {
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #a59678;
	margin: 0;
    padding-bottom: 0.5em;
}
.col__text {
	font-size: 16px;
	font-weight: 300;
	color: #B3B5BC;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__link--item{
    text-decoration: none;
    color: #B3B5BC;
    font-size: 14px;
    padding: 0;
}

@media (min-width: 700px) {
	.nav-toggle {
		display: none;
	}
	.logo {
		padding-right: 0.5em;
	}
	.nav {
		visibility: visible;
		display: flex;
		height: auto;
		justify-content: space-between;
		align-items: center;
		flex-grow: 1;
	}

	.row {
		display: flex;
		justify-content: space-between;
	}

	.nav__list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		font-size: 0.9rem;
	}

	.nav__item {
		padding-top: 0.5em;
		/* border: 1px solid white; */
	}

	.nav__item + .nav__item {
		margin-left: 1em;
	}
}
